/* */

/* Diagnostic Styling 
* Change Background color
* Outline Elements */

/* css grid generator*/
/* css tricks starters*/
/* Global */
h1 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }
  
  h1 span:nth-child(even) {
    color: thistle;
  }
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3em;
  border: 1px solid blueviolet;
}
nav a,li {
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

/* Homepage */

.bio {
    background: aliceblue;
}

/* Contact */

.contact {
    background: pink;
}

/* Portfolio */
.portfolio {
  background:lavender;
  display: flex;
  justify-content: center;
  align-content: center;
}
.portfolio figure {
  background:purple;
  padding: 1em;
  width: 80%;
}
#figureone {
border: 10px solid blue;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
}
#figuretwo {
  border: 10px solid blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#figurethree {
  border: 10px solid blue;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
container {
  display:grid;
  width: 100%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 25em 25em 25em;
}