/* */

/* Diagnostic Styling 
* Change Background color
* Outline Elements */

/* Global */
h1 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }
  
  h1 span:nth-child(even) {
    color: thistle;
  }

/* Homepage */

.bio {
    background: aliceblue;
}

/* Contact */

.contact {
    background: pink;
}