/* */

/* Diagnostic Styling 
* Change Background color
* Outline Elements */

/* css grid generator*/
/* css tricks starters*/
/* Global */
h1 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }
  
  h1 span:nth-child(even) {
    color: thistle;
  }

/* Homepage */

.bio {
    background: aliceblue;
}

/* Contact */

.contact {
    background: pink;
}

/* Portfolio */
.portfolio {
  background:lavender;
}
figure {
  background:purple;
  padding: 1em;
  width: 200px;
}